// Jouve colors

$peach: #C59B96;
$jouvebrown: #A47872;
$white: #fff;
$black: #000;
$darkgray: #979797;
$gainsboro: #d8d8d8;
$seashell: #FCF4F3;
$rose: #D6A385;




// // breakpoint values

// $phoneportrait: "(max-width: 480px)";
// $phonelandscape: "(min-width: 600px) and (max-width: 767px)";
// $tablet: "(min-width: 768px) and (max-width: 1024px)";
// $desktop: "(min-width: 1025px)";



// Foundation mixins

// @media #{$small-up} { }
// @media #{$small-only} { }

// @media #{$medium-up} { }
// @media #{$medium-only} { }

// @media #{$large-up} { }
// @media #{$large-only} { }

// @media #{$xlarge-up} { }
// @media #{$xlarge-only} { }

// @media #{$xxlarge-up} { }
// @media #{$xxlarge-only} { }