
// helpers
@import "helpers/mixins";
@import "helpers/variables";
@import "../../node_modules/foundation/docs/css/settings";

// layouts
@import "layout/header";
@import "layout/home-tightener";
@import "layout/home-brightener";
@import "layout/photogrid";
@import "layout/footer";
@import "base";

// pages
@import "pages/results";
@import "pages/tightenerpage";
@import "pages/brightenerpage";
@import "pages/difference";
@import "pages/shoppage";
@import "pages/joinpage";
@import "pages/joinpage";
@import "pages/meetreppage";


// components
@import "components/scroll-to-top-button";



#Layer_1:hover {
    .st3 {
        enable-background: new;
        stroke-dasharray: 1500;
        stroke-dashoffset: 0;
        animation: dash 5s linear alternate infinite;
        // stroke-dasharray: 1500;
        // stroke-dashoffset: 0;
        // webkit-animation: dash 3s linear forwards;
        // -o-animation: dash 3s linear forwards;
        // -moz-animation: dash 3s linear forwards;
        // animation: dash 3s linear forwards;	
    }
}
 
@-webkit-keyframes dash {
    from {
        stroke-dashoffset: 1500;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@media (min-width: 1025px) {
  .swiper-container {
    max-width: 1025px;
    height: 641px;
    z-index: 1;
    margin: 0 auto !important;
  }
  .row {
    max-width: 1025px;
  }

  .before-after-grid {
    position: relative;
    width: 80%;
    height: 850px !important;
    padding: 10px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    background-color: $seashell;
  }

  .brightener {
    position: relative;
    clear: both;
  }
  .before-after-results {
    .fancypics img {
      max-width: 100% !important;
    }

  }
  .slide1 {
    background-image: url("../img/jouve_home_slider.jpg");
    background-size: cover;
    background-position: 0px;
  }
  .slide2 {
    background-image: url("../img/slider-background.png");
    background-size: 100%;
    background-position: 0px -360px;

  }
  .swiper-slide .true-you {
    position: absolute;
    top: 15%;
    left: 23%;
  }
  .large-nav .row .large-right-nav ul .language-icon svg {
    max-width: 3%;
    margin-bottom: inherit;
  }
  // .lNavigation {
  //   position: fixed;
  //   z-index: 1;
  //   top: 77px;
  //   right: 0;
  //   overflow: hidden;
  //   width: 12%;
  //   height: auto;
  //   color: white;
  // }
}