.bright-banner {
	height: 35%;
	background-image: url(../../_/img/brightenerbannercrop.jpg);
	background-size: cover;
    background-position-y: -32px;
    @media (max-width: 480px) {
    	height: 25%;
    	background-position: 0;
    }
    @media (min-width: 481px) and (max-width: 767px) {
        height: 25%;
        background-position: 0;
      }
    @media (min-width: 768px) and (max-width: 1024px) {
        height: 25%;
        background-position: 0;
      }  
	/* ----------- iPhone 5 and 5S ----------- */
	/* Portrait */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 568px)
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: portrait) {
	  	height: 30%;
	  }
	/* ----------- iPhone 5 and 5S ----------- */
	/* Landscape */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 568px)
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: landscape) {
	  	height: 70%;
	  }
    /* ----------- iPhone 6 ----------- */
        /* Landscape */
    @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        height: 60%;
      }
	/* ----------- iPhone 6+ ----------- */
	/* Landscape */
	@media only screen 
	  and (min-device-width: 414px) 
	  and (max-device-width: 736px) 
	  and (-webkit-min-device-pixel-ratio: 3)
	  and (orientation: landscape) { 
	    height: 60%;
	}  
	/* ----------- iPad mini ----------- */
	/* Portrait */
	@media only screen 
	  and (min-device-width: 768px) 
	  and (max-device-width: 1024px) 
	  and (orientation: portrait) 
	  and (-webkit-min-device-pixel-ratio: 1) {
	    height: 35%;
	  }
	/* ----------- iPad mini ----------- */
	/* Landscape */
	@media only screen 
	  and (min-device-width: 768px) 
	  and (max-device-width: 1024px) 
	  and (orientation: landscape) 
	  and (-webkit-min-device-pixel-ratio: 1) {
	    height: 60%;
	  }
	/* ----------- Non-Retina laptop/desktop Screens ----------- */
	@media screen 
	  and (min-width: 1025px) { 
       max-width: 1025px;
       margin: 0 auto; 
       height: 400px; 
    }
}

.brightener-page {
	// background-color: $white;
	height: 55%;
	@media (max-width: 480px) {
		height: 14%;
	}
	@media (min-width: 481px) and (max-width: 767px) {
		height: 20%;
	}
	@media (min-width: 768px) and (max-width: 1024px) {
		height: 20%;
	}
	/* ----------- iPhone 5 and 5S ----------- */
	/* Portrait */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 568px)
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: portrait) {
		height: 30%;
	  }
	  /* ----------- iPhone 5 and 5S ----------- */
	/* Landscape */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 568px)
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: landscape) {
	  	height: 55%;
	  }
	  /* ----------- iPhone 6 ----------- */
	/* Portrait */
	@media only screen 
	  and (min-device-width: 375px) 
	  and (max-device-width: 667px) 
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: portrait) {
	  	height: 23%;
	  }
	/* ----------- iPhone 6 ----------- */
        /* Landscape */
    @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
      	height: 35%;
      }
	/* ----------- iPhone 6+ ----------- */
	/* Landscape */
	@media only screen 
	  and (min-device-width: 414px) 
	  and (max-device-width: 736px) 
	  and (-webkit-min-device-pixel-ratio: 3)
	  and (orientation: landscape) { 
	    height: 25%;
	}  
	/* ----------- iPad mini ----------- */
    /* Portrait */
    @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 1) {
      	height: 15%;
      }
   	/* ----------- iPad mini ----------- */
    /* Landscape */
    @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: landscape) 
      and (-webkit-min-device-pixel-ratio: 1) {
    		height: 30%;      
        }   
	@media screen 
	  and (min-width: 1025px) {
	  	height: 150px;
	  }

	.product-section {
		img {
		position: absolute;
	    max-width: 50%;
	    z-index: 2;
	    top: -55%;
	    left: 25%;
	    @media (max-width: 480px) {
			top: -89%;
    		left: 28%;
    		max-width: 40%;
		}
		@media (min-width: 481px) and (max-width: 767px) {
			top: -88%;
    		left: 37%;
    		width: 200px;
		}
		@media (min-width: 768px) and (max-width: 1024px) {
			top: -128px;
			left: 34%;
			width: 205px;
		}
	    /* ----------- iPhone 5 and 5S ----------- */
		/* Portrait */
		@media only screen 
		  and (min-device-width: 320px) 
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: portrait) {
		  	max-width: 40%;
		  	top: -75%;	
		  	left: 30%;
		  }

	    /* ----------- iPhone 5 and 5S ----------- */
		/* Landscape */
		@media only screen 
		  and (min-device-width: 320px) 
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: landscape) {
		  	max-width: 30%;	
		  	top: -100px;
		  	left: 35%;
		  }
    	/* ----------- iPhone 6 ----------- */
		/* Portrait */
		@media only screen 
		  and (min-device-width: 375px) 
		  and (max-device-width: 667px) 
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: portrait) { 
			max-width: 40%;
			top: -113px;
			left: 28%;
		}
    	/* ----------- iPhone 6 ----------- */
            /* Landscape */
        @media only screen 
          and (min-device-width: 375px) 
          and (max-device-width: 667px) 
          and (-webkit-min-device-pixel-ratio: 2)
          and (orientation: landscape) {
			max-width: 20%;
			top: -120px;
          }
          /* ----------- iPhone 6+ ----------- */
          /* Landscape */
          @media only screen 
            and (min-device-width: 414px) 
            and (max-device-width: 736px) 
            and (-webkit-min-device-pixel-ratio: 3)
            and (orientation: landscape) { 
              max-width: 20%;
              top: -190px;
          } 
          /* ----------- iPad mini ----------- */
		    /* Portrait */
		    @media only screen 
		      and (min-device-width: 768px) 
		      and (max-device-width: 1024px) 
		      and (orientation: portrait) 
		      and (-webkit-min-device-pixel-ratio: 1) {
		      	max-width: 30%;
              	top: -237px;
              	left: 32%;
		      } 
		    /* ----------- iPad mini ----------- */
		    /* Landscape */
		    @media only screen 
		      and (min-device-width: 768px) 
		      and (max-device-width: 1024px) 
		      and (orientation: landscape) 
		      and (-webkit-min-device-pixel-ratio: 1) {
		    		max-width: 20%;
		    		top: -190px;
		        }  
		    @media screen 
	          and (min-width: 1025px) {
	          	top: -225%;
				left: 34%;	
				width: 210px;	
	          }       
		}
		h4 {
			font-family: HelveticaNeueLTStd-ThIt;
			color: $darkgray;
			margin: 200px 0 0 0;
			@media (max-width: 480px) {
				max-width: 23%;
			    float: right;
			    margin: 25px;
			}
			@media (min-width: 481px) and (max-width: 767px) {
				max-width: 23%;
			    float: right;
			    margin: 25px;
			}
			@media (min-width: 768px) and (max-width: 1024px) {
				max-width: 37%;
			    float: right;
			    margin: 25px;
			}
			/* ----------- iPhone 5 and 5S ----------- */
			/* Portrait */
			@media only screen 
			  and (min-device-width: 320px) 
			  and (max-device-width: 568px)
			  and (-webkit-min-device-pixel-ratio: 2)
			  and (orientation: portrait) {
				margin: 20px 0 0 0;
				max-width: 33%;
				font-size: 14px;
			  }
		    /* ----------- iPhone 5 and 5S ----------- */
			/* Landscape */
			@media only screen 
			  and (min-device-width: 320px) 
			  and (max-device-width: 568px)
			  and (-webkit-min-device-pixel-ratio: 2)
			  and (orientation: landscape) {
			  	
			  }
			/* ----------- iPhone 6 ----------- */
	            /* Landscape */
	        @media only screen 
	          and (min-device-width: 375px) 
	          and (max-device-width: 667px) 
	          and (-webkit-min-device-pixel-ratio: 2)
	          and (orientation: landscape) {
	          	float: right;
	          	max-width: 45%;
	          	margin: 5px;
	        }
	        /* ----------- iPhone 6+ ----------- */
	        /* Landscape */
	        @media only screen 
	          and (min-device-width: 414px) 
	          and (max-device-width: 736px) 
	          and (-webkit-min-device-pixel-ratio: 3)
	          and (orientation: landscape) { 
	            float: right;
	            max-width: 45%;
	            margin: 0;
	        }  
	        /* ----------- iPad mini ----------- */
		    /* Portrait */
		    @media only screen 
		      and (min-device-width: 768px) 
		      and (max-device-width: 1024px) 
		      and (orientation: portrait) 
		      and (-webkit-min-device-pixel-ratio: 1) {
				max-width: 38%;
		      }
		    /* ----------- iPad mini ----------- */
		    /* Landscape */
		    @media only screen 
		      and (min-device-width: 768px) 
		      and (max-device-width: 1024px) 
		      and (orientation: landscape) 
		      and (-webkit-min-device-pixel-ratio: 1) {
	    		max-width: 40%;      
	    		float: right;
	    		margin: 25px;
	        }
	         /* ----------- Non-Retina laptop/desktop Screens ----------- */
	        @media screen 
	          and (min-width: 1025px) {
	          	max-width: 40%;      
	    		float: right;
	    		margin: 25px;
	          }
	             
		}	
	}	
}
 
.bright-product-description {
	background-color: $seashell;
	width: 100%;
	height: 100%;
	font-family: HelveticaNeueLTStd-Lt;
	font-size: 14px;
	color: $darkgray;
	padding: 25px auto;
	@media (max-width: 480px) {
		height: 60%;
	}
	@media (min-width: 481px) and (max-width: 767px) {
		height: 50%;
	}
	@media (min-width: 768px) and (max-width: 1024px) {
		height: 35%;
	}
	/* ----------- iPhone 5 and 5S ----------- */
	/* Portrait */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 568px)
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: portrait) {
	  	height: 120%;
	  }
	/* ----------- iPhone 5 and 5S ----------- */
	/* Landscape */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 568px)
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: landscape) {
	  	height: 120%;
	  }
	/* ----------- iPhone 6 ----------- */
	/* Portrait */
	@media only screen 
	  and (min-device-width: 375px) 
	  and (max-device-width: 667px) 
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: portrait) {
	  	height: 90%;
	  }
	/* ----------- iPhone 6 ----------- */
	  /* Landscape */
	@media only screen 
	  and (min-device-width: 375px) 
	  and (max-device-width: 667px) 
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: landscape) { 
		height: 80%;
	}
	/* ----------- iPhone 6+ ----------- */
	/* Portrait */
	@media only screen 
	  and (min-device-width: 414px) 
	  and (max-device-width: 736px) 
	  and (-webkit-min-device-pixel-ratio: 3)
	  and (orientation: portrait) { 
			height: 70%;
	}
	/* ----------- iPhone 6+ ----------- */
    /* Landscape */
    @media only screen 
      and (min-device-width: 414px) 
      and (max-device-width: 736px) 
      and (-webkit-min-device-pixel-ratio: 3)
      and (orientation: landscape) { 
        height: 80%;
    } 
    /* ----------- iPad mini ----------- */
    /* Portrait */
    @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 1) {
		height: 54%;
      }
    /* ----------- iPad mini ----------- */
    /* Landscape */
    @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: landscape) 
      and (-webkit-min-device-pixel-ratio: 1) {
    	height: 55%;      
        }
    @media screen 
      and (min-width: 1025px) {
  	    max-width: 1025px;
		margin: 0 auto;
		height: 380px;
      }            

	p {
		line-height: 20px;
		@media (min-width: 481px) and (max-width: 767px) {
			font-size: 18px;
			line-height: 30px;
		}
		@media (min-width: 768px) and (max-width: 1024px) {
			font-size: 18px;
			line-height: 30px;
		}
		/* ----------- iPhone 5 and 5S ----------- */
		/* Portrait */
		@media only screen 
		  and (min-device-width: 320px) 
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: portrait) {
		  	font-size: 14px;
		  	line-height: 20px;
		  }
		/* ----------- iPhone 5 and 5S ----------- */
		/* Landscape */
		@media only screen 
		  and (min-device-width: 320px) 
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: landscape) {
			font-size: 14px;
		  	line-height: 20px;
		  }
		/* ----------- iPad mini ----------- */
	    /* Portrait */
	    @media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: portrait) 
	      and (-webkit-min-device-pixel-ratio: 1) {
			line-height: 30px;
		    padding-left: 35px;
    		padding-right: 35px;
	      }
	    /* ----------- iPad mini ----------- */
	    /* Landscape */
	    @media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: landscape) 
	      and (-webkit-min-device-pixel-ratio: 1) {
	    	line-height: 30px;
		    padding-left: 35px;
    		padding-right: 35px;
    		font-size: 18px;      
	      }
	    @media screen 
  		  and (min-width: 1025px) {
			font-size: 18px;
			line-height: 30px;
  		  }
	      
	}

	#product-first {
		padding-top: 40px;
	}

	#product-last {
		float: left !important;
		padding-bottom: 40px;
	}
}

.bright-more-section {
	height: 60%;
	background-color: $white;
	font-family: HelveticaNeueLTStd-Lt;
	font-size: 14px;
	color: $darkgray;
    margin: 40px 0 0 0;
    @media (max-width: 480px) {
    	height: 25%;
    }
    @media (min-width: 481px) and (max-width: 767px) {
    	height: 25%;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
    	height: 20%;
    }
    /* ----------- iPhone 5 and 5S ----------- */
	/* Portrait */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 568px)
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: portrait) {
	  	height: 65%;
	  }
	/* ----------- iPhone 5 and 5S ----------- */
	/* Landscape */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 568px)
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: landscape) {
	  	height: 90%;
	  }  
    /* ----------- iPhone 6 ----------- */
        /* Landscape */
    @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
      	height: 60%;
      }

    /* ----------- iPhone 6+ ----------- */
	/* Portrait */
	@media only screen 
	  and (min-device-width: 414px) 
	  and (max-device-width: 736px) 
	  and (-webkit-min-device-pixel-ratio: 3)
	  and (orientation: portrait) {
	  	height: 40%;
	  }
    /* ----------- iPhone 6+ ----------- */
	/* Landscape */
	@media only screen 
	  and (min-device-width: 414px) 
	  and (max-device-width: 736px) 
	  and (-webkit-min-device-pixel-ratio: 3)
	  and (orientation: landscape) { 
	    height: 60%;
	}
	/* ----------- iPad mini ----------- */
    /* Portrait */
    @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 1) {
		height: 30%;
      } 

	/* ----------- iPad mini ----------- */
    /* Landscape */
    @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: landscape) 
      and (-webkit-min-device-pixel-ratio: 1) {
    	height: 50%;     
      }
  	@media screen 
	  and (min-width: 1025px) {
		height: 235px;
		max-width: 1025px;
		margin: 40px auto;
	  }
	p {
		line-height: 20px;
		/* ----------- iPhone 5 and 5S ----------- */
		/* Portrait */
		@media only screen 
		  and (min-device-width: 320px) 
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: portrait) {
		  	font-size: 14px;
		  	line-height: 20px;
		  }
	 	/* ----------- iPhone 5 and 5S ----------- */
		/* Landscape */
		@media only screen 
		  and (min-device-width: 320px) 
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: landscape) {
			font-size: 14px;
		  	line-height: 20px;
		  }
		/* ----------- iPad mini ----------- */
	    /* Portrait */
	    @media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: portrait) 
	      and (-webkit-min-device-pixel-ratio: 1) {
	      	line-height: 30px;
		    padding-left: 35px;
    		padding-right: 35px;
	      }
	    /* ----------- iPad mini ----------- */
	    /* Landscape */
	    @media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: landscape) 
	      and (-webkit-min-device-pixel-ratio: 1) {
    		line-height: 30px;
		    padding-left: 40px;
		    padding-right: 35px;
		    font-size: 18px;
        }   
	}
	a {

		img {
			/* ----------- iPhone 5 and 5S ----------- */
			/* Landscape */
			@media only screen 
			  and (min-device-width: 320px) 
			  and (max-device-width: 568px)
			  and (-webkit-min-device-pixel-ratio: 2)
			  and (orientation: landscape) {
			  	max-width: 50%;
			  }
			/* ----------- iPhone 6+ ----------- */
			/* Landscape */
			@media only screen 
			  and (min-device-width: 414px) 
			  and (max-device-width: 736px) 
			  and (-webkit-min-device-pixel-ratio: 3)
			  and (orientation: landscape) {
				max-width: 60%;
			  }
			  /* ----------- iPad mini ----------- */
		    /* Portrait */
		    @media only screen 
		      and (min-device-width: 768px) 
		      and (max-device-width: 1024px) 
		      and (orientation: portrait) 
		      and (-webkit-min-device-pixel-ratio: 1) {
		      	max-width: 60%;
		      }
		    /* ----------- iPad mini ----------- */
		    /* Landscape */
		    @media only screen 
		      and (min-device-width: 768px) 
		      and (max-device-width: 1024px) 
		      and (orientation: landscape) 
		      and (-webkit-min-device-pixel-ratio: 1) {
	    		max-width: 50%;
	        }
	        @media screen 
	  		  and (min-width: 1025px) {
	  		  	max-width: 30%;
	  		  }   
		}

	}
	.transformation-section {
		border-top: 1px solid $darkgray;
		margin-top: 40px;

		.transformation-button {
			border: 1px solid $rose;
			font-family: HelveticaNeueLTStd-Lt;
			
			color: $darkgray;
			padding: 10px auto;
			text-align: center;
			margin-top: inherit;
			/* ----------- iPhone 6 ----------- */
	            /* Landscape */
	        @media only screen 
	          and (min-device-width: 375px) 
	          and (max-device-width: 667px) 
	          and (-webkit-min-device-pixel-ratio: 2)
	          and (orientation: landscape) {
	          	width: 70%;

	          }
			/* ----------- iPhone 6+ ----------- */
	        /* Landscape */
	        @media only screen 
	          and (min-device-width: 414px) 
	          and (max-device-width: 736px) 
	          and (-webkit-min-device-pixel-ratio: 3)
	          and (orientation: landscape) { 
	            width: 60%;
	        }  
	        /* ----------- iPad mini ----------- */
		    /* Landscape */
		    @media only screen 
		      and (min-device-width: 768px) 
		      and (max-device-width: 1024px) 
		      and (orientation: landscape) 
		      and (-webkit-min-device-pixel-ratio: 1) {
	    		width: 60%;
	        }
	        @media screen 
	  		  and (min-width: 1025px) {
	  		  	max-width: 500px;
	  		  }
			a {
				text-decoration: none;
				color: $darkgray;
				&:active {

				}
				p {
					margin: 10px;
					font-size: 14px;
				}
				
			}
			
		}
	}
	
}

