.difference-banner {
	height: 40%;
	background-image: url(../../_/img/difference_banner.jpg);
	background-size: cover;
  background-position-y: -20px;
  @media (max-width: 480px) {
  	height: 185px;
	background-position: 0;
  }
  @media (min-width: 481px) and (max-width: 767px) {
  	height: 225px;
  	background-position: 0;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
  	height: 225px;
  	background-position: 0;
  }
  /* ----------- iPhone 5 and 5S ----------- */
  /* Portrait */
  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
    	height: 40%;
    }
	/* ----------- iPhone 5 and 5S ----------- */
    /* Landscape */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 568px)
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: landscape) {
		height: 70%;
	  }
  /* ----------- iPhone 6 ----------- */
      /* Landscape */
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      height: 70%;
    }
  /* ----------- iPhone 6+ ----------- */
  /* Landscape */
  @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) { 
      height: 60%;
  }  
  /* ----------- iPad mini ----------- */
  /* Portrait */
  @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1) {
      height: 45%;
    }
  /* ----------- iPad mini ----------- */
  /* Landscape */
  @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
      height: 60%;
    }
		
  /* ----------- Non-Retina laptop/desktop Screens ----------- */
    @media screen and (min-width:1025px) { 
      max-width: 1025px !important;
			margin: auto;
			height: 400px;
    }
	.difference-type {
		max-width: 70%;
		left: 15%;
    position: absolute;
    top: 14%;
    @media (max-width: 480px) {
    	top: 9%;
    	width: 240px;
    	left: 18%;
    }
    @media (min-width: 481px) and (max-width: 767px) {
    	top: 10%;
    	left: 31%;
    	width: 255px;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
    	top: 9%;
	    left: 31%;
	    width: 300px;
    }
    /* ----------- iPhone 5 and 5S ----------- */
    /* Portrait */
    @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait) {
      	max-width: 70%;
				left: 15%;
		    position: absolute;
		    top: 14%;
      }
    /* ----------- iPhone 5 and 5S ----------- */
    /* Landscape */
		@media only screen 
		  and (min-device-width: 320px) 
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: landscape) {
		  	max-width: 50%;
		    left: 25%;
		    position: absolute;
		    top: 27%;
		  }
    /* ----------- iPhone 6 ----------- */
      /* Landscape */
    @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
      	max-width: 50%;
		    left: 25%;
		    position: absolute;
		    top: 27%;
      }
    /* ----------- Non-Retina laptop/desktop Screens ----------- */
    @media screen and (min-width:1025px) {
			left: 40%;
			width: 380px;
			top: 7%;
    }
	}        
}

.difference-products {
	
	.product-image {
		margin: 50px auto;
		@media (min-width: 481px) and (max-width: 767px) {
			width: 240px;
		}
		@media (min-width: 768px) and (max-width: 1024px) {
			width: 280px;
			margin-left: 20px;
		}
		/* ----------- iPhone 5 and 5S ----------- */
	    /* Landscape */
		@media only screen 
		  and (min-device-width: 320px) 
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: landscape) {
		  	margin: 20px auto;
		  	max-width: 40%;
		  }
		/* ----------- iPhone 6 ----------- */
      /* Landscape */
    @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
      	margin: 20px auto;
      }
  	/* ----------- Non-Retina laptop/desktop Screens ----------- */
    @media screen and (min-width:1025px) {
	
    }
		img {
			max-width: 100%;
			/* ----------- iPhone 6 ----------- */
        /* Landscape */
	    @media only screen 
	      and (min-device-width: 375px) 
	      and (max-device-width: 667px) 
	      and (-webkit-min-device-pixel-ratio: 2)
	      and (orientation: landscape) {
	      	max-width: 60%; 
	      	margin: 30px 0 30px 20%;
	      }
	    /* ----------- iPad mini ----------- */
      	/* Portrait */
  		@media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: portrait) 
	      and (-webkit-min-device-pixel-ratio: 1) {
					max-width: 60%;
					margin: 30px 0 30px 20%;
        }  
		}
		
	}
	.both-product-description {
		font-family: HelveticaNeueLTStd-Lt;
		color: $darkgray;
		margin: 20px auto;
		float: left !important;

		/* ----------- iPhone 5 and 5S ----------- */
	    /* Landscape */
		@media only screen 
		  and (min-device-width: 320px) 
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: landscape) {
		  	margin: 16% 0 16% -20px;
		  }
		/* ----------- iPhone 6 ----------- */
      /* Landscape */
    @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
    	    margin: 16% 0 16% -50px;
      }
    /* ----------- iPad mini ----------- */
    	/* Portrait */
		@media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 1) {
      	margin: 20% 0 16% -50px;
      } 
    /* ----------- Non-Retina laptop/desktop Screens ----------- */
    @media screen and (min-width:1025px) {
    	margin: 20% 0 16% -15%;
    } 
		p {
			font-size: 14px;
			@media (min-width: 481px) and (max-width: 767px) {
				font-size: 18px;
				margin: 10% 5% 10px -40px;
				
			}
			@media (min-width: 768px) and (max-width: 1024px) {
				font-size: 18px;
				margin: 20% 0 10px -40px;
			}
			/* ----------- iPhone 5 and 5S ----------- */
	    /* Portrait */
	    @media only screen 
	      and (min-device-width: 320px) 
	      and (max-device-width: 568px)
	      and (-webkit-min-device-pixel-ratio: 2)
	      and (orientation: portrait) {
	      	font-size: 14px;
	      }
			/* ----------- iPad mini ----------- */
      	/* Portrait */
			@media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: portrait) 
	      and (-webkit-min-device-pixel-ratio: 1) {
	      	font-size: 16px;
	      }
	    @media screen and (min-width:1025px) {
  	    font-size: 18px;
  			line-height: 2;
	    }  
		}
	}
}

.clean-commitment {

	.clean-title {
		border-top: 1px solid $peach;
		border-bottom: 1px solid $peach;
		margin-bottom: 20px;
		@media screen and (min-width:1025px) {
			max-width: 1025px;
			margin: auto;
		}
		h3 {
			font-family: HelveticaNeueLTStd-ThIt;
			color: $peach;
			margin: 15px 0;
		}
	}
	.clean-description {
		margin: 10px 0 20px 0;
		/* ----------- iPhone 6 ----------- */
	  /* Landscape */
	  @media only screen 
	    and (min-device-width: 375px) 
	    and (max-device-width: 667px) 
	    and (-webkit-min-device-pixel-ratio: 2)
	    and (orientation: landscape) {
	    	margin: 15px 0 35px 0;
	    }
    /* ----------- iPad mini ----------- */
  	/* Portrait */
		@media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 1) {
      	margin: 15px 0 35px 0;
      }
    @media screen and (min-width:1025px) {
    	max-width: 1025px;
  		margin: 30px auto 40px auto;
    }
		p {
			font-family: HelveticaNeueLTStd-Lt;
			color: $darkgray;
			@media screen and (min-width:1025px) {
				font-size: 18px;
			}
		}
	}
}