.difference-banner {
	height: 40%;
	background-image: url(../../_/img/difference_banner.jpg);
	background-size: cover;
    background-position-y: -20px;

    /* ----------- iPhone 6 ----------- */
        /* Landscape */
    @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        height: 70%;
      }
      /* ----------- iPhone 6+ ----------- */
      /* Landscape */
      @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px) 
        and (-webkit-min-device-pixel-ratio: 3)
        and (orientation: landscape) { 
          height: 60%;
      }  
      /* ----------- iPad mini ----------- */
      /* Portrait */
      @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (orientation: portrait) 
        and (-webkit-min-device-pixel-ratio: 1) {
          height: 45%;
        }
      /* ----------- iPad mini ----------- */
      /* Landscape */
      @media only screen 
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) 
        and (orientation: landscape) 
        and (-webkit-min-device-pixel-ratio: 1) {
          height: 60%;
        }
		
      /* ----------- Non-Retina laptop/desktop Screens ----------- */
        @media screen 
          and (min-device-width: 1025px) 
          and (-webkit-min-device-pixel-ratio: 1) { 
            
        }
	.difference-type {
		max-width: 70%;
		left: 15%;
	    position: absolute;
	    top: 14%;
	    /* ----------- iPhone 6 ----------- */
        /* Landscape */
	    @media only screen 
	      and (min-device-width: 375px) 
	      and (max-device-width: 667px) 
	      and (-webkit-min-device-pixel-ratio: 2)
	      and (orientation: landscape) {
	      	max-width: 50%;
		    left: 25%;
		    position: absolute;
		    top: 27%;
	      }
	}        
}

.difference-products {
	
	.product-image {
		margin: 50px auto;
		/* ----------- iPhone 6 ----------- */
        /* Landscape */
	    @media only screen 
	      and (min-device-width: 375px) 
	      and (max-device-width: 667px) 
	      and (-webkit-min-device-pixel-ratio: 2)
	      and (orientation: landscape) {
	      	margin: 20px auto;
	      }
		img {
			max-width: 100%;
			/* ----------- iPhone 6 ----------- */
	        /* Landscape */
		    @media only screen 
		      and (min-device-width: 375px) 
		      and (max-device-width: 667px) 
		      and (-webkit-min-device-pixel-ratio: 2)
		      and (orientation: landscape) {
		      	max-width: 60%; 
		      	margin: 30px 0 30px 20%;
		      }
		    /* ----------- iPad mini ----------- */
	      	/* Portrait */
    		@media only screen 
		      and (min-device-width: 768px) 
		      and (max-device-width: 1024px) 
		      and (orientation: portrait) 
		      and (-webkit-min-device-pixel-ratio: 1) {
				max-width: 60%;
				margin: 30px 0 30px 20%;
	        }  
		}
		
	}
	.both-product-description {
		font-family: HelveticaNeueLTStd-Lt;
		color: $darkgray;
		margin: 20px auto;
		float: left !important;
		/* ----------- iPhone 6 ----------- */
        /* Landscape */
	    @media only screen 
	      and (min-device-width: 375px) 
	      and (max-device-width: 667px) 
	      and (-webkit-min-device-pixel-ratio: 2)
	      and (orientation: landscape) {
      	    margin: 16% 0 16% -50px;
	      }
	    /* ----------- iPad mini ----------- */
      	/* Portrait */
		@media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: portrait) 
	      and (-webkit-min-device-pixel-ratio: 1) {
	      	margin: 20% 0 16% -50px;
	      }  
		p {
		font-size: 14px;
		/* ----------- iPad mini ----------- */
      	/* Portrait */
		@media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: portrait) 
	      and (-webkit-min-device-pixel-ratio: 1) {
	      	font-size: 16px;
	      }
		}
	}
}

.clean-commitment {

	.clean-title {
		border-top: 1px solid $peach;
		border-bottom: 1px solid $peach;
		margin-bottom: 20px;
		h3 {
			font-family: HelveticaNeueLTStd-ThIt;
			color: $peach;
			margin: 15px 0;
		}
	}
	.clean-description {
		margin: 10px 0 20px 0;
		/* ----------- iPhone 6 ----------- */
        /* Landscape */
	    @media only screen 
	      and (min-device-width: 375px) 
	      and (max-device-width: 667px) 
	      and (-webkit-min-device-pixel-ratio: 2)
	      and (orientation: landscape) {
	      	margin: 15px 0 35px 0;
	      }
	    /* ----------- iPad mini ----------- */
      	/* Portrait */
		@media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: portrait) 
	      and (-webkit-min-device-pixel-ratio: 1) {
	      	margin: 15px 0 35px 0;
	      }
		p {
			font-family: HelveticaNeueLTStd-Lt;
			color: $darkgray;
		}
	}
}