.results-container {
	// max-width: 950px;
	margin: 0 auto;
    height: inherit;
}

.results-bar {
	height: 50%;
	background-image: url('../img/resultsbg.png');
	background-size: cover;
	/* ----------- iPhone 6 ----------- */
        /* Landscape */
    @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        height: 100%;
    }
    /* ----------- iPhone 6+ ----------- */
      /* Landscape */
    @media only screen 
      and (min-device-width: 414px) 
      and (max-device-width: 736px) 
      and (-webkit-min-device-pixel-ratio: 3)
      and (orientation: landscape) {
        height: 100%;
      }
    /* ----------- iPad mini ----------- */
      /* Portrait */
    @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 1) {
        height: 50%;
      }
    /* ----------- iPad mini ----------- */
      /* Landscape */
    @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: landscape) 
      and (-webkit-min-device-pixel-ratio: 1) {
        height: 70%;
      }
    /* ----------- Non-Retina Screens ----------- */
	@media screen 
	  and (min-device-width: 1025px) 
	  and (-webkit-min-device-pixel-ratio: 1) {
	  	height: 65%;
	  	max-height: 500px;	
	  }
      /* ----------- Retina Screens ----------- */
	@media screen 
	  and (min-device-width: 1025px) 
	//  and (max-device-width: 1600px) 
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (min-resolution: 192dpi) {
		height: 65%;  	
	  }
	
	.quote {
		color: $white;
		font-family: HelveticaNeueLTStd-ThIt;
		font-size: 18px;
		position: absolute;
	    top: 15%;
	    width: 37%;
	    left: 8%;
	    /* ----------- iPhone 6 ----------- */
        /* Landscape */
	    @media only screen 
	      and (min-device-width: 375px) 
	      and (max-device-width: 667px) 
	      and (-webkit-min-device-pixel-ratio: 2)
	      and (orientation: landscape) {
	        top: 30%;
	        width: 20%;
	    }

	    /* ----------- iPhone 6+ ----------- */
	      /* Landscape */
	    @media only screen 
	      and (min-device-width: 414px) 
	      and (max-device-width: 736px) 
	      and (-webkit-min-device-pixel-ratio: 3)
	      and (orientation: landscape) {
	        top: 35%;
	        width: 20%;
	      }
	    /* ----------- iPad mini ----------- */
	      /* Portrait */
	    @media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: portrait) 
	      and (-webkit-min-device-pixel-ratio: 1) {
	        top: 20%;
    		width: 18%;
	      }
	    /* ----------- iPad mini ----------- */
	      /* Landscape */
	    @media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: landscape) 
	      and (-webkit-min-device-pixel-ratio: 1) {
	       	top: 20%;
			width: 18%; 
      }
      /* ----------- Non-Retina Screens ----------- */
		@media screen 
		  and (min-device-width: 1025px)  
		  and (-webkit-min-device-pixel-ratio: 1) {
			top: 15%;
			width: 10%;	  	
		  }
		  /* ----------- Retina Screens ----------- */
		@media screen 
		  and (min-device-width: 1025px) 
		//  and (max-device-width: 1600px) 
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (min-resolution: 192dpi) {
			top: 15%;
			width: 10%;
	  	}
	}
}


.video-container {
	position:relative;
	padding-bottom:56.25%;
	height:0;
	// overflow:hidden;
	background-color: $white;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top: -15%;
    left: 8%;
    width: 85%;
    height: 85%;
    z-index: 1;
}


// begin before-after section styling
.big-slider2 {
    position: relative;
    width: 100%;
    height: 120%;
    margin: 0 auto 0 auto;
    text-align: center;
    color: $darkgray;
    background: $seashell;
    /* ----------- iPhone 6 ----------- */
        /* Landscape */
    @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        height: 100%;
    }
    /* ----------- iPhone 6+ ----------- */
      /* Landscape */
    @media only screen 
      and (min-device-width: 414px) 
      and (max-device-width: 736px) 
      and (-webkit-min-device-pixel-ratio: 3)
      and (orientation: landscape) {
        height: 100%;
      }
  	/* ----------- iPhone 6+ ----------- */
    /* Portrait */
	@media only screen 
	  and (min-device-width: 414px) 
	  and (max-device-width: 736px) 
	  and (-webkit-min-device-pixel-ratio: 3)
	  and (orientation: portrait) { 
		height: 105%;
		margin: 0 auto;
	}
    /* ----------- iPad mini ----------- */
      /* Portrait */
    @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: portrait) 
      and (-webkit-min-device-pixel-ratio: 1) {
        height: 50%;
      }
    /* ----------- iPad mini ----------- */
      /* Landscape */
    @media only screen 
      and (min-device-width: 768px) 
      and (max-device-width: 1024px) 
      and (orientation: landscape) 
      and (-webkit-min-device-pixel-ratio: 1) {
        height: 70%;
      }
    .before-title {
        padding: 10px;
        color: $darkgray;
        /* ----------- iPhone 6 ----------- */
            /* Landscape */
        @media only screen 
          and (min-device-width: 375px) 
          and (max-device-width: 667px) 
          and (-webkit-min-device-pixel-ratio: 2)
          and (orientation: landscape) {
            font-size: 18px;
          }
        /* ----------- iPhone 6+ ----------- */
          /* Landscape */
        @media only screen 
          and (min-device-width: 414px) 
          and (max-device-width: 736px) 
          and (-webkit-min-device-pixel-ratio: 3)
          and (orientation: landscape) {
            font-size: 18px;
        }
        /* ----------- iPad mini ----------- */
          /* Portrait */
        @media only screen 
          and (min-device-width: 768px) 
          and (max-device-width: 1024px) 
          and (orientation: portrait) 
          and (-webkit-min-device-pixel-ratio: 1) {
            font-size: 28px;
        }
        /* ----------- iPad mini ----------- */
          /* Landscape */
        @media only screen 
          and (min-device-width: 768px) 
          and (max-device-width: 1024px) 
          and (orientation: landscape) 
          and (-webkit-min-device-pixel-ratio: 1) {
            font-size: 28px;       
          }
    }
    .before-after {
        position: absolute;
        top: 52%;
        left: 50%;
        width: 80%;
        height: 88%;
        padding: 10px;
        transform: translate(-50%, -50%);
        color: white;
        background-color: $seashell;
        /* ----------- iPhone 6 ----------- */
            /* Landscape */
        @media only screen 
          and (min-device-width: 375px) 
          and (max-device-width: 667px) 
          and (-webkit-min-device-pixel-ratio: 2)
          and (orientation: landscape) {
            height: 82%;
            top: 58%;
        }
        /* ----------- iPhone 6+ ----------- */
        /* Portrait */
		@media only screen 
		  and (min-device-width: 414px) 
		  and (max-device-width: 736px) 
		  and (-webkit-min-device-pixel-ratio: 3)
		  and (orientation: portrait) {
		  	top: 53%;	
		  }
        /* ----------- iPhone 6+ ----------- */
          /* Landscape */
        @media only screen 
          and (min-device-width: 414px) 
          and (max-device-width: 736px) 
          and (-webkit-min-device-pixel-ratio: 3)
          and (orientation: landscape) {
            height: 82%;
        }
        /* ----------- iPad mini ----------- */
          /* Portrait */
        @media only screen 
          and (min-device-width: 768px) 
          and (max-device-width: 1024px) 
          and (orientation: portrait) 
          and (-webkit-min-device-pixel-ratio: 1) {
            height: 60%
        }
        /* ----------- iPad mini ----------- */
          /* Landscape */
        @media only screen 
          and (min-device-width: 768px) 
          and (max-device-width: 1024px) 
          and (orientation: landscape) 
          and (-webkit-min-device-pixel-ratio: 1) {
            height: 80%;    
          }
        .swiper-wrapper {
            .swiper-slide {
                padding: 0 !important;
                position: relative;
                img {
                    padding: 0 !important;
                }
                .picholder:hover .overlay {
                    opacity: 1;
                }
                .picholder:hover .fancypics {
                    opacity: 0.7;
                }
                .picholder {
                    width: 100%;
                    position: relative;
                    height: 100%;
                }
                .overlay {
                    bottom: 30;
                    left: 0;
                    top: 0;
                    right: 0;
                    height: 88%;
                    width: 100%;
                    margin: auto;
                    position: absolute;
                    background: rgba(196,154,149,0.80);
                    // border-radius: 50%;
                    opacity: 0;
                    /* ----------- iPhone 6 ----------- */
                        /* Landscape */
                    @media only screen 
                      and (min-device-width: 375px) 
                      and (max-device-width: 667px) 
                      and (-webkit-min-device-pixel-ratio: 2)
                      and (orientation: landscape) {
                        width: 100%;
                        height: 91%;
                    }
					/* ----------- iPhone 6+ ----------- */
                    /* Portrait */
					@media only screen 
					  and (min-device-width: 414px) 
					  and (max-device-width: 736px) 
					  and (-webkit-min-device-pixel-ratio: 3)
					  and (orientation: portrait) { 
						height: 103%;
					}

                    /* ----------- iPhone 6+ ----------- */
                      /* Landscape */
                    @media only screen 
                      and (min-device-width: 414px) 
                      and (max-device-width: 736px) 
                      and (-webkit-min-device-pixel-ratio: 3)
                      and (orientation: landscape) {
                        width: 100%;
                        height: 91%;
                    }
                    /* ----------- iPad mini ----------- */
                      /* Portrait */
                    @media only screen 
                      and (min-device-width: 768px) 
                      and (max-device-width: 1024px) 
                      and (orientation: portrait) 
                      and (-webkit-min-device-pixel-ratio: 1) {
                        width: 100%;
                        height: 105%;
                    }
                    /* ----------- iPad mini ----------- */
                      /* Landscape */
                    @media only screen 
                      and (min-device-width: 768px) 
                      and (max-device-width: 1024px) 
                      and (orientation: landscape) 
                      and (-webkit-min-device-pixel-ratio: 1) {
                        width: 100%;
                        height: 98%;
                        padding: 30px;
                      }
                    /* ----------- Non-Retina laptop/desktop Screens ----------- */
                    @media screen 
                      and (min-device-width: 1025px) 
                      and (max-device-width: 1600px) 
                      and (-webkit-min-device-pixel-ratio: 1) {
                        width: 100%;
                        height: 98%;
                        padding: 30px;
                      }  

                }
                .text_title {
                    color: white;
                    padding-top: 50%;
                    /* ----------- iPhone 6 ----------- */
                        /* Landscape */
                    @media only screen 
                      and (min-device-width: 375px) 
                      and (max-device-width: 667px) 
                      and (-webkit-min-device-pixel-ratio: 2)
                      and (orientation: landscape) {
                        padding-top: 8%;
                        padding-bottom: 0;
                    }
                    /* ----------- iPhone 6+ ----------- */
                      /* Landscape */
                    @media only screen 
                      and (min-device-width: 414px) 
                      and (max-device-width: 736px) 
                      and (-webkit-min-device-pixel-ratio: 3)
                      and (orientation: landscape) {
                        padding-top: 8%;
                        padding-bottom: 0;
                      }
                    /* ----------- iPad mini ----------- */
                      /* Portrait */
                    @media only screen 
                      and (min-device-width: 768px) 
                      and (max-device-width: 1024px) 
                      and (orientation: portrait) 
                      and (-webkit-min-device-pixel-ratio: 1) {
                        padding-top: 8%;
                        padding-bottom: 0;
                      }
                      /* ----------- iPad mini ----------- */
                      /* Landscape */
                    @media only screen 
                      and (min-device-width: 768px) 
                      and (max-device-width: 1024px) 
                      and (orientation: landscape) 
                      and (-webkit-min-device-pixel-ratio: 1) {
                        padding-top: 8%;
                        padding-bottom: 0;
                        font-size: 36px;
                      }
                }
                .text_box {
                    color: white;
                    // font-size:28px;
                    line-height: 20px;
                    padding: 10px;
                    padding-bottom: 50%;
                    text-align: center;
                    /* ----------- iPhone 6 ----------- */
                        /* Landscape */
                    @media only screen 
                      and (min-device-width: 375px) 
                      and (max-device-width: 667px) 
                      and (-webkit-min-device-pixel-ratio: 2)
                      and (orientation: landscape) {
                        font-size: 14px;
                        padding-bottom: 0;
                      }
                      /* ----------- iPhone 6+ ----------- */
                      /* Landscape */
                    @media only screen 
                      and (min-device-width: 414px) 
                      and (max-device-width: 736px) 
                      and (-webkit-min-device-pixel-ratio: 3)
                      and (orientation: landscape) {
                        font-size: 14px;
                        padding-bottom: 0;
                      }
                    /* ----------- iPad mini ----------- */
                      /* Portrait */
                    @media only screen 
                      and (min-device-width: 768px) 
                      and (max-device-width: 1024px) 
                      and (orientation: portrait) 
                      and (-webkit-min-device-pixel-ratio: 1) {
                        font-size: 14px;
                      }
                      /* ----------- iPad mini ----------- */
                      /* Landscape */
                    @media only screen 
                      and (min-device-width: 768px) 
                      and (max-device-width: 1024px) 
                      and (orientation: landscape) 
                      and (-webkit-min-device-pixel-ratio: 1) {
                        font-size: 14px;
                      }  
                }
                .fancypics {
                    width: 100%;
                    /* ----------- iPhone 6 ----------- */
                        /* Landscape */
                    @media only screen 
                      and (min-device-width: 375px) 
                      and (max-device-width: 667px) 
                      and (-webkit-min-device-pixel-ratio: 2)
                      and (orientation: landscape) {
                        width: 50%;
                    }
                    /* ----------- iPhone 6+ ----------- */
                      /* Landscape */
                    @media only screen 
                      and (min-device-width: 414px) 
                      and (max-device-width: 736px) 
                      and (-webkit-min-device-pixel-ratio: 3)
                      and (orientation: landscape) {
                        width: 50%;
                      }
                    /* ----------- iPad mini ----------- */
                       /* Portrait */
                    @media only screen 
                      and (min-device-width: 768px) 
                      and (max-device-width: 1024px) 
                      and (orientation: portrait) 
                      and (-webkit-min-device-pixel-ratio: 1) {
                        width:50%;
                      }
                    /* ----------- iPad mini ----------- */
                      /* Landscape */
                    @media only screen 
                      and (min-device-width: 768px) 
                      and (max-device-width: 1024px) 
                      and (orientation: landscape) 
                      and (-webkit-min-device-pixel-ratio: 1) {
                        width: 50%;    
                      }
                      /* ----------- Non-Retina laptop/desktop Screens ----------- */
                    @media screen 
                      and (min-device-width: 1025px) 
                      and (max-device-width: 1600px) 
                      and (-webkit-min-device-pixel-ratio: 1) {
                        width: 50%;
                      }
                }

            }
        }
    }
    .before_arrow_left {
      height: 40px;
      width: 40px;
      background-color: none;
      border-top: 1px solid $peach;
      border-left: 1px solid $peach;
      transform: rotate(-45deg);
      margin-left: 15px;
      position: absolute;
      background-image: none;
    } 
    .before_arrow_right {
      height: 40px;
      width: 40px;
      background-color: none;
      border-top: 1px solid $peach;
      border-right: 1px solid $peach;
      transform: rotate(45deg);
      margin-right: 15px;
      position: absolute;
      background-image: none;
    }   
}



// end before-after section styling
