.shop-banner {
	height: auto;


    /* ----------- iPhone 6 ----------- */
        /* Landscape */
    @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        height: auto;
      }
      /* ----------- iPhone 6+ ----------- */
      /* Landscape */
      @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px) 
        and (-webkit-min-device-pixel-ratio: 3)
        and (orientation: landscape) { 
          height: auto;
      }  
    .shop-experience {
    	width: 100%;
    	background-color: $seashell;
		font-size: 18px;
		font-family: HelveticaNeueLTStd-ThIt;
		color: $darkgray;
		padding: 20px 10%;
		letter-spacing: 2px;
		/* ----------- iPhone 6 ----------- */
        /* Landscape */
	    @media only screen 
	      and (min-device-width: 375px) 
	      and (max-device-width: 667px) 
	      and (-webkit-min-device-pixel-ratio: 2)
	      and (orientation: landscape) {
	      	width: 50%;	
	      	float: left;
	      	height: 30%;
	      	padding-top: 10%;
	      }
	    /* ----------- iPhone 6+ ----------- */
	    /* Landscape */
	    @media only screen 
	      and (min-device-width: 414px) 
	      and (max-device-width: 736px) 
	      and (-webkit-min-device-pixel-ratio: 3)
	      and (orientation: landscape) {
			width: 50%;	
	      	float: left;
	      	height: 30%;
	      	padding-top: 10%;
	      }  
        /* ----------- iPad mini ----------- */
  		/* Portrait */
    	@media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: portrait) 
	      and (-webkit-min-device-pixel-ratio: 1) {
			width: 50%;	
	      	float: left;
	      	height: 30%;
	      	padding-top: 14%;
	      }
	    /* ----------- iPad mini ----------- */
      	/* Landscape */
	    @media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: landscape) 
	      and (-webkit-min-device-pixel-ratio: 1) {
			width: 50%;	
	      	float: left;
	      	height: 30%;
	      	padding-top: 14%;
	      }
		p {
			margin: 0;
			/* ----------- iPhone 6 ----------- */
		    /* Landscape */
		    @media only screen 
		      and (min-device-width: 375px) 
		      and (max-device-width: 667px) 
		      and (-webkit-min-device-pixel-ratio: 2)
		      and (orientation: landscape) {
		 		height: 163px;     	
		      }
		    /* ----------- iPhone 6 ----------- */
		    /* Landscape */
		    @media only screen 
		      and (min-device-width: 375px) 
		      and (max-device-width: 667px) 
		      and (-webkit-min-device-pixel-ratio: 2)
		      and (orientation: landscape) {
		      	height: 182px;
		      }
		    /* ----------- iPad mini ----------- */
	  		/* Portrait */
	    	@media only screen 
		      and (min-device-width: 768px) 
		      and (max-device-width: 1024px) 
		      and (orientation: portrait) 
		      and (-webkit-min-device-pixel-ratio: 1) {
		      	height: 159px;
		      }
		    /* ----------- iPad mini ----------- */
	      	/* Landscape */
		    @media only screen 
		      and (min-device-width: 768px) 
		      and (max-device-width: 1024px) 
		      and (orientation: landscape) 
		      and (-webkit-min-device-pixel-ratio: 1) {
		 		height: 220px;
		 		font-size: 22px;     	
		      }
		}
    }

    .bag {
    	width: 100%;
    	background-color: $peach;
    	/* ----------- iPhone 6 ----------- */
        /* Landscape */
	    @media only screen 
	      and (min-device-width: 375px) 
	      and (max-device-width: 667px) 
	      and (-webkit-min-device-pixel-ratio: 2)
	      and (orientation: landscape) {
	      	width: 50%;
	      	float: left;	
	      }
	    /* ----------- iPhone 6+ ----------- */
	    /* Landscape */
	    @media only screen 
	      and (min-device-width: 414px) 
	      and (max-device-width: 736px) 
	      and (-webkit-min-device-pixel-ratio: 3)
	      and (orientation: landscape) {
			width: 50%;
			float: left;
	      }
	    /* ----------- iPad mini ----------- */
  		/* Portrait */
    	@media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: portrait) 
	      and (-webkit-min-device-pixel-ratio: 1) {
	      	width: 50%;
	      	float: left;
	      }  
	    /* ----------- iPad mini ----------- */
      	/* Landscape */
	    @media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: landscape) 
	      and (-webkit-min-device-pixel-ratio: 1) {
	      	width: 50%;
	      	float: left;
	      }

    	img {
    		max-width: 60%;
    		margin: 10% 17%;
			// /* ----------- iPad mini ----------- */
		    /* Portrait */
		    @media only screen 
		      and (min-device-width: 768px) 
		      and (max-device-width: 1024px) 
		      and (orientation: portrait) 
		      and (-webkit-min-device-pixel-ratio: 1) {
    			margin: 10% 23%;
			  }
    	}
    }
}

.link-section {
	height: 15%;
	background-color: $white;
	font-family: HelveticaNeueLTStd-Lt;
	font-size: 14px;
	color: $darkgray;
    margin: 40px 0 0 0;
    /* ----------- iPhone 6 ----------- */
        /* Landscape */
    @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 667px) 
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
  	    height: 30%;
      }
    /* ----------- iPhone 6+ ----------- */
	/* Landscape */
	@media only screen 
	  and (min-device-width: 414px) 
	  and (max-device-width: 736px) 
	  and (-webkit-min-device-pixel-ratio: 3)
	  and (orientation: landscape) { 
	    height: 28%;
	    margin: 60px 0 0 0;
	}
	// /* ----------- iPad mini ----------- */
 //    /* Portrait */
 //    @media only screen 
 //      and (min-device-width: 768px) 
 //      and (max-device-width: 1024px) 
 //      and (orientation: portrait) 
 //      and (-webkit-min-device-pixel-ratio: 1) {
	// 	height: 40%;
 //      } 

	// /* ----------- iPad mini ----------- */
 //    /* Landscape */
 //    @media only screen 
 //      and (min-device-width: 768px) 
 //      and (max-device-width: 1024px) 
 //      and (orientation: landscape) 
 //      and (-webkit-min-device-pixel-ratio: 1) {
 //    	height: 50%;     
 //      }

       .transformation-button {
			border: 1px solid $rose;
			font-family: HelveticaNeueLTStd-Lt;
			width: 80%;
			height: 50px;
			color: $darkgray;
			padding: 10px auto;
			text-align: center;
			margin-top: inherit;
			margin: auto;
			/* ----------- iPhone 6 ----------- */
	            /* Landscape */
	        @media only screen 
	          and (min-device-width: 375px) 
	          and (max-device-width: 667px) 
	          and (-webkit-min-device-pixel-ratio: 2)
	          and (orientation: landscape) {
	          	width: 50%;

	          }
			/* ----------- iPhone 6+ ----------- */
	        /* Landscape */
	        @media only screen 
	          and (min-device-width: 414px) 
	          and (max-device-width: 736px) 
	          and (-webkit-min-device-pixel-ratio: 3)
	          and (orientation: landscape) { 
	            width: 60%;
	        }  
			/* ----------- iPad mini ----------- */
		    /* Portrait */
 		    @media only screen 
		      and (min-device-width: 768px) 
		      and (max-device-width: 1024px) 
		      and (orientation: portrait) 
		      and (-webkit-min-device-pixel-ratio: 1) {
		      	width: 50%;
		      }

	        /* ----------- iPad mini ----------- */
		    /* Landscape */
		    @media only screen 
		      and (min-device-width: 768px) 
		      and (max-device-width: 1024px) 
		      and (orientation: landscape) 
		      and (-webkit-min-device-pixel-ratio: 1) {
	    		width: 30%;
	        }   
			a {
				text-decoration: none;
				&:active {

				}
				p {
					margin: 15px;
					font-size: 14px;
				}
				
			}
			
		}     
	p {
		line-height: 20px;
		/* ----------- iPad mini ----------- */
	    /* Portrait */
	    @media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: portrait) 
	      and (-webkit-min-device-pixel-ratio: 1) {
	      	line-height: 30px;
		    padding-left: 35px;
    		padding-right: 35px;
	      }
	    /* ----------- iPad mini ----------- */
	    /* Landscape */
	    @media only screen 
	      and (min-device-width: 768px) 
	      and (max-device-width: 1024px) 
	      and (orientation: landscape) 
	      and (-webkit-min-device-pixel-ratio: 1) {
    		line-height: 30px;
		    padding-left: 40px;
		    padding-right: 35px;
		    font-size: 18px;
        }   
	}
	a {

		img {

			/* ----------- iPhone 6+ ----------- */
			/* Landscape */
			@media only screen 
			  and (min-device-width: 414px) 
			  and (max-device-width: 736px) 
			  and (-webkit-min-device-pixel-ratio: 3)
			  and (orientation: landscape) {
				max-width: 60%;
			  }
			  /* ----------- iPad mini ----------- */
		    /* Portrait */
		    @media only screen 
		      and (min-device-width: 768px) 
		      and (max-device-width: 1024px) 
		      and (orientation: portrait) 
		      and (-webkit-min-device-pixel-ratio: 1) {
		      	max-width: 60%;
		      }
		    /* ----------- iPad mini ----------- */
		    /* Landscape */
		    @media only screen 
		      and (min-device-width: 768px) 
		      and (max-device-width: 1024px) 
		      and (orientation: landscape) 
		      and (-webkit-min-device-pixel-ratio: 1) {
	    		max-width: 50%;
	        }   
		}

	}
	.transformation-section {
		border-top: 1px solid $darkgray;
		margin-top: 40px;

		
	}
	
}


// /* Rectangle 20: */
// border: 2px solid #F0CBC5;
// /* EXPERIENCE REAL TRAN: */
// font-family: HelveticaNeue-Light;
// font-size: 28px;
// color: #979797;
// letter-spacing: 1.2px;
// line-height: 40px;
