.banner {
  height: 35%;
  background-image: url(../../_/img/tightenerbannercrop.jpg);
  background-size: cover;
  background-position-y: -32px;

  /* ----------- iPhone 6 ----------- */
  /* Landscape */
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    height: 60%;
  }
  /* ----------- iPhone 6+ ----------- */
  /* Landscape */
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    height: 60%;
  }
  /* ----------- iPad mini ----------- */
  /* Portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    height: 45%;
  }
  /* ----------- iPad mini ----------- */
  /* Landscape */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    height: 60%;
  }

  /* ----------- Non-Retina laptop/desktop Screens ----------- */
  @media screen and (min-device-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) {

    margin: 0 auto;
    width: 1440px;
    height: 641px;

  }
  @media screen and (min-width: 1025px) {
    margin: 0 auto;
    width: 1440px;
    height: 641px;
  }
}

.tightener-page {
  // background-color: $white;
  height: 55%;
  /* ----------- iPhone 6 ----------- */
  /* Landscape */
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    height: 20%;
  }
  /* ----------- iPhone 6+ ----------- */
  /* Landscape */
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    height: 25%;
  }
  /* ----------- iPad mini ----------- */
  /* Portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    height: 30%;
  }
  /* ----------- iPad mini ----------- */
  /* Landscape */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    height: 30%;
  }

  .product-section {
    img {
      position: absolute;
      max-width: 35%;
      z-index: 2;
      top: -35%;
      left: 35%;
      /* ----------- iPhone 6 ----------- */
      /* Landscape */
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        max-width: 20%;
        top: -190px;
      }
      /* ----------- iPhone 6+ ----------- */
      /* Landscape */
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        max-width: 20%;
        top: -190px;
      }
      /* ----------- iPad mini ----------- */
      /* Portrait */
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
        max-width: 30%;
        top: -250px;
      }
      /* ----------- iPad mini ----------- */
      /* Landscape */
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        max-width: 20%;
        top: -190px;
      }
      @media screen and (min-width: 1025px) {
        top: -162%;
      }
    }
    h4 {
      font-family: HelveticaNeueLTStd-ThIt;
      color: $darkgray;
      margin: 200px 0 0 0;
      /* ----------- iPhone 6 ----------- */
      /* Landscape */
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        float: right;
        max-width: 45%;
        margin: 5px;
      }
      /* ----------- iPhone 6+ ----------- */
      /* Landscape */
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        float: right;
        max-width: 45%;
        margin: 0;
      }
      /* ----------- iPad mini ----------- */
      /* Portrait */
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
        max-width: 50%;
      }
      /* ----------- iPad mini ----------- */
      /* Landscape */
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        max-width: 40%;
        float: right;
        margin: 25px;
      }
    }
  }
  @media screen and (min-width: 1025px) {
    height: 25%;

  }
}

.product-description {
  background-color: $seashell;
  width: 100%;
  //height: 100%;
  font-family: HelveticaNeueLTStd-Lt;
  font-size: 14px;
  color: $darkgray;
  padding: 25px auto;
  /* ----------- iPhone 6+ ----------- */
  /* Landscape */
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    height: 80%;
  }
  /* ----------- iPad mini ----------- */
  /* Portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    height: 40%;
  }
  /* ----------- iPad mini ----------- */
  /* Landscape */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    height: 55%;
  }

  p {
    line-height: 20px;
    /* ----------- iPad mini ----------- */
    /* Portrait */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      line-height: 30px;
      padding-left: 35px;
      padding-right: 35px;
    }
    /* ----------- iPad mini ----------- */
    /* Landscape */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      line-height: 30px;
      padding-left: 35px;
      padding-right: 35px;
      font-size: 18px;
    }
  }

  #product-first {
    padding-top: 40px;
  }

  #product-last {
    float: left !important;
    padding-bottom: 40px;
  }
}

.more-section {
  height: 60%;
  background-color: $white;
  font-family: HelveticaNeueLTStd-Lt;
  font-size: 14px;
  color: $darkgray;
  margin: 40px 0 0 0;
  /* ----------- iPhone 6 ----------- */
  /* Landscape */
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    height: inherit;
  }
  /* ----------- iPhone 6+ ----------- */
  /* Landscape */
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    height: inherit;
  }
  /* ----------- iPad mini ----------- */
  /* Portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    height: 40%;
  }

  /* ----------- iPad mini ----------- */
  /* Landscape */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    height: 50%;
  }
  p {
    line-height: 20px;
    /* ----------- iPad mini ----------- */
    /* Portrait */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      line-height: 30px;
      padding-left: 35px;
      padding-right: 35px;
    }
    /* ----------- iPad mini ----------- */
    /* Landscape */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      line-height: 30px;
      padding-left: 40px;
      padding-right: 35px;
      font-size: 18px;
    }
  }
  a {

    img {

      /* ----------- iPhone 6+ ----------- */
      /* Landscape */
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        max-width: 60%;
      }
      /* ----------- iPad mini ----------- */
      /* Portrait */
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
        max-width: 60%;
      }
      /* ----------- iPad mini ----------- */
      /* Landscape */
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        max-width: 50%;
      }
    }

  }
  .transformation-section {
    border-top: 1px solid $darkgray;
    margin-top: 40px;

    .transformation-button {
      border: 1px solid $rose;
      font-family: HelveticaNeueLTStd-Lt;

      color: $darkgray;
      padding: 10px auto;
      text-align: center;
      margin-top: inherit;
      /* ----------- iPhone 6 ----------- */
      /* Landscape */
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        width: 70%;

      }
      /* ----------- iPhone 6+ ----------- */
      /* Landscape */
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        width: 60%;
      }
      /* ----------- iPad mini ----------- */
      /* Landscape */
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        width: 60%;
      }
      a {
        text-decoration: none;
        &:active {

        }
        p {
          margin: 10px;
          font-size: 14px;
        }

      }

    }
  }

}

// /* Rectangle 20: */
// border: 2px solid #F0CBC5;
// /* EXPERIENCE REAL TRAN: */
// font-family: HelveticaNeue-Light;
// font-size: 28px;
// color: #979797;
// letter-spacing: 1.2px;
// line-height: 40px;
