/*MIXINS*/
/*END MIXINS*/
/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px, ... */
/*HEADER*/
nav {
  width: 100%;
  height: 10%;
  background-color: #fff;
  /* ----------- iPhone 6 ----------- */
  /* Landscape */
  /* ----------- iPhone 6+ ----------- */
  /* Landscape */
  /* ----------- iPad mini ----------- */
  /* Portrait and Landscape */
  /* ----------- iPad mini ----------- */
  /* Landscape */ }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    nav {
      height: 20%; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    nav {
      height: auto; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    nav {
      height: auto; } }
  nav .row > .small-2 {
    margin: 11px 0 0 0;
    /* ----------- iPhone 6 ----------- */
    /* Landscape */
    /* ----------- iPad mini ----------- */
    /* Landscape */ }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      nav .row > .small-2 {
        margin: 0; } }
    nav .row > .small-2 #nav-toggle {
      position: relative;
      margin: 0 0 0 1px; }
    nav .row > .small-2 #language-icon {
      padding-top: 7px;
      /* ----------- iPhone 6 ----------- */
      /* Landscape */
      /* ----------- iPhone 6+ ----------- */
      /* Landscape */
      /* ----------- iPad mini ----------- */
      /* Portrait */
      /* ----------- iPad mini ----------- */
      /* Landscape */
      /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        nav .row > .small-2 #language-icon {
          padding: 20px !important;
          margin: 0 0 -10px 5px !important; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        nav .row > .small-2 #language-icon {
          padding: 20px !important;
          margin: 0 0 -10px 5px !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
        nav .row > .small-2 #language-icon {
          padding: 20px !important;
          margin: -10px 0 -10px 5px !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        nav .row > .small-2 #language-icon {
          padding: 40px !important;
          margin: -25px 0 -20px 30px !important; } }
      @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
        nav .row > .small-2 #language-icon {
          margin: 0; } }
  nav .row > .small-8 img {
    /* ----------- iPhone 6 ----------- */
    /* Landscape */
    /* ----------- iPad mini ----------- */
    /* Portrait */
    /* ----------- iPad mini ----------- */
    /* Landscape */
    /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      nav .row > .small-8 img {
        margin: 20px 0 0 60px !important;
        max-width: 60% !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      nav .row > .small-8 img {
        margin: 30px 0 0 75px !important;
        max-width: 60% !important; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      nav .row > .small-8 img {
        margin: 20px 0 0 75px !important;
        max-width: 60% !important; } }
  nav .row > .small-8 .header-image {
    margin: 15px 0 0 0;
    /* ----------- iPhone 6 ----------- */
    /* Landscape */
    /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      nav .row > .small-8 .header-image {
        margin: 11px 0 0 0; } }
    @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
      nav .row > .small-8 .header-image {
        margin: 5px 0 0 20%; } }

.large-nav .row {
  margin: 0 !important;
  max-width: 100% !important;
  opacity: .8;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  height: 75px; }
  .large-nav .row .header-image {
    margin: 11px;
    padding: 5px;
    max-width: 35%; }
  .large-nav .row .large-right-nav {
    display: inline-block;
    text-align: right; }
    .large-nav .row .large-right-nav ul {
      margin: 10px 0 0 0; }
      .large-nav .row .large-right-nav ul li {
        display: inline;
        font-size: 14px;
        color: #C59B96;
        margin-right: 15px; }
        .large-nav .row .large-right-nav ul li #language-icon {
          max-width: 15%;
          margin: -15px;
          padding: 21px; }

.menuWrapper {
  position: absolute;
  width: 350px;
  height: 500px;
  /* ----------- iPhone 6 ----------- */
  /* Landscape */ }

.navigation {
  position: absolute;
  z-index: 9;
  top: 5px;
  left: 10px;
  overflow: hidden;
  width: 70%;
  /* the container's height will determine the height of its slider  */
  height: auto;
  color: white;
  /* ----------- iPhone 6 ----------- */
  /* Landscape */
  /* ----------- iPhone 6+ ----------- */
  /* Landscape */
  /* ----------- iPad mini ----------- */
  /* Landscape */
  /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .navigation {
      top: 5px;
      left: 4px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .navigation {
      top: 6%;
      left: 5px; } }
  @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .navigation {
      left: 70%; } }

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  position: absolute;
  display: block;
  width: 30px;
  height: 5px;
  content: ' ';
  cursor: pointer;
  border-radius: 1px;
  background: #C59B96; }

#nav-toggle span:before {
  top: -10px; }

#nav-toggle span:after {
  bottom: 70px; }

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 500ms ease-in-out;
  color: #C59B96; }

#nav-toggle.active span {
  background-color: transparent; }

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0; }

#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.navigation:before {
  -webkit-filter: blur(10px);
          filter: blur(10px); }

.slider {
  overflow-y: scroll;
  /* complete liquid height based on the parent's height!! */
  height: 100%;
  /* only transition on transform properties which are hardware accelerated = way better performances */
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease; }
  .slider li {
    padding: 20px 15px 0 15px;
    list-style: none;
    border-bottom: 1px solid white; }

.slider.opened {
  height: 100%;
  /* visible */
  -webkit-transform: translate(0, 0%);
  transform: translate(0, 0%);
  opacity: .8; }

.slider.opened:after {
  transition: 700ms 900ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition-property: filter, -webkit-filter, opacity, -webkit-transform;
  opacity: .5;
  -webkit-filter: blur(10px); }

.slider.closed {
  /* completely offscreen */
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%); }

.slider {
  box-sizing: border-box;
  padding: 20px;
  color: #fff;
  background: #C59B96;
  -ms-box-sizing: border-box; }

.lMenuWrapper {
  position: absolute;
  right: 0;
  width: 350px;
  height: 500px; }

.lNavigation {
  position: absolute;
  z-index: 10;
  top: 5px;
  right: 0;
  overflow: hidden;
  width: 70%;
  /* the container's height will determine the height of its slider  */
  height: auto;
  color: white;
  /* ----------- iPhone 6 ----------- */
  /* Landscape */
  /* ----------- iPad mini ----------- */
  /* Landscape */
  /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .lNavigation {
      right: 5px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .lNavigation {
      top: 6%;
      right: 5px; } }
  @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .lNavigation {
      right: 70%; } }

.lNavigation:before {
  -webkit-filter: blur(10px);
          filter: blur(10px); }

.lSlider {
  overflow-y: scroll;
  /* complete liquid height based on the parent's height!! */
  height: 100%;
  /* only transition on transform properties which are hardware accelerated = way better performances */
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease; }
  .lSlider li {
    padding: 20px 15px 0 15px;
    list-style: none;
    border-bottom: 1px solid white; }

.lSlider.opened {
  height: 100%;
  /* visible */
  -webkit-transform: translate(0, 0%);
  transform: translate(0, 0%);
  opacity: .8; }

.lSlider.opened:after {
  transition: 700ms 900ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition-property: filter, -webkit-filter, opacity, -webkit-transform;
  opacity: .5;
  -webkit-filter: blur(10px); }

.lSlider.closed {
  /* completely offscreen */
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%); }

.lSlider {
  box-sizing: border-box;
  padding: 20px;
  color: #fff;
  background: #A47872;
  -ms-box-sizing: border-box; }

.custom-dropdown--large {
  font-size: 1.5em; }

.custom-dropdown--small {
  font-size: .7em; }

.custom-dropdown__select {
  font-size: inherit;
  /* inherit size from .custom-dropdown */
  margin: 0;
  /* remove default margins */
  padding: .5em;
  /* add some space*/ }

.custom-dropdown__select--white {
  color: #444;
  background-color: #A47872; }

@supports (pointer-events: none) and (-webkit-appearance: none) or (appearance: none) {
  .custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle; }
  .custom-dropdown__select {
    padding-right: 2.5em;
    /* accommodate with the pseudo elements for the dropdown arrow */
    border: 0;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .custom-dropdown::before,
  .custom-dropdown::after {
    position: absolute;
    content: '';
    pointer-events: none; }
  .custom-dropdown::after {
    font-size: .625em;
    line-height: 1;
    top: 50%;
    right: 1.2em;
    height: 1em;
    margin-top: -.5em;
    /*  Custom dropdown arrow */
    content: '\25BC';
    border: 1px solid #fff; }
  .custom-dropdown::before {
    top: 0;
    right: 0;
    bottom: 0;
    /*  Custom dropdown arrow cover */
    width: 2em;
    border-radius: 0 3px 3px 0; }
  .custom-dropdown__select[disabled] {
    color: rgba(0, 0, 0, 0.3); }
  .custom-dropdown.custom-dropdown--disabled::after {
    color: rgba(0, 0, 0, 0.1); }
  /* White dropdown style */
  .custom-dropdown--white::before {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #A47872; }
  .custom-dropdown--white::after {
    color: rgba(0, 0, 0, 0.9); }
  /* FF only temp fix */
  @-moz-document url-prefix() {
    .custom-dropdown__select {
      padding-right: .9em; }
    .custom-dropdown--large .custom-dropdown__select {
      padding-right: 1.3em; }
    .custom-dropdown--small .custom-dropdown__select {
      padding-right: .5em; } } }

.tightener {
  height: 80%;
  background-color: #fff;
  margin: 0 0 50px 0;
  padding-top: 50px;
  vertical-align: middle;
  /* ----------- iPhone 6 ----------- */
  /* Landscape */
  /* ----------- iPhone 6+ ----------- */
  /* Landscape */
  /* ----------- iPad mini ----------- */
  /* Portrait */
  /* ----------- iPad mini ----------- */
  /* Landscape */
  /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .tightener {
      height: 100%;
      margin: 0 0 40px 0; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .tightener {
      height: 100%;
      margin: 0 0 40px 0; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .tightener {
      height: 50%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .tightener {
      height: 70%; } }
  @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .tightener {
      margin: 75px 0 0 0;
      height: 100%; } }
  .tightener .product {
    max-width: 130%;
    margin: 0 0 30px 0;
    /* ----------- iPhone 6 ----------- */
    /* Landscape */
    /* ----------- iPhone 6+ ----------- */
    /* Landscape */
    /* ----------- iPad mini ----------- */
    /* Portrait */
    /* ----------- iPad mini ----------- */
    /* Landscape */ }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      .tightener .product {
        max-width: 100%; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
      .tightener .product {
        max-width: 100%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      .tightener .product {
        max-width: 100%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .tightener .product {
        max-width: 100%; } }
  .tightener .product-tag {
    font-family: HelveticaNeueLTStd-ThIt;
    font-size: 16px;
    float: left;
    margin-top: 127px;
    vertical-align: bottom;
    color: #979797;
    /* ----------- iPad mini ----------- */
    /* Portrait */
    /* ----------- iPad mini ----------- */
    /* Landscape */
    /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
    @media (min-width: 480px) and (max-width: 767px) {
      .tightener .product-tag {
        margin-top: 30px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      .tightener .product-tag {
        margin-top: 5px;
        font-size: 20px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .tightener .product-tag {
        margin-top: 15px;
        font-size: 20px; } }
    @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
      .tightener .product-tag {
        font-size: 20px;
        margin-top: 0; } }
  .tightener .row > .left-description {
    float: left !important; }
  .tightener .description {
    font-family: HelveticaNeueLTStd-Lt;
    font-weight: 100;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    padding: 30px 0 0 0;
    float: left;
    color: #979797;
    border-top: 1px solid #979797;
    /* ----------- iPad mini ----------- */
    /* Portrait */
    /* ----------- iPad mini ----------- */
    /* Landscape */
    /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      .tightener .description {
        font-size: 14px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .tightener .description {
        font-size: 14px; } }
    @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
      .tightener .description {
        font-size: 16px; } }
  .tightener .product-link {
    color: #979797 !important;
    /* ----------- iPhone 6 ----------- */
    /* Landscape */
    /* ----------- iPhone 6+ ----------- */
    /* Landscape */
    /* ----------- iPad mini ----------- */
    /* Portrait */
    /* ----------- iPad mini ----------- */
    /* Landscape */
    /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      .tightener .product-link {
        margin: 20px; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
      .tightener .product-link {
        margin: 30px;
        padding-top: 0; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      .tightener .product-link {
        margin: 30px;
        padding-top: 50px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .tightener .product-link {
        margin: 40px;
        padding-top: 60px; } }
    @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
      .tightener .product-link {
        padding: 50px; } }
    .tightener .product-link a {
      text-decoration: none;
      color: #979797 !important; }
      .tightener .product-link a:link {
        text-decoration: none;
        color: #979797 !important; }
      .tightener .product-link a:hover {
        color: #A47872; }
      .tightener .product-link a:visited {
        color: #C59B96; }

.brightener {
  height: 65%;
  margin: 0 0 100px 0;
  padding-top: 0;
  vertical-align: middle;
  /* ----------- iPhone 6 ----------- */
  /* Landscape */
  /* ----------- iPad mini ----------- */
  /* Portrait */
  /* ----------- iPad mini ----------- */
  /* Landscape */
  /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .brightener {
      height: 100%;
      margin: 0 0 10px 0; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .brightener {
      height: 35%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .brightener {
      height: 60%; } }
  @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .brightener {
      height: 80%;
      margin: 200px 0 100px 0; } }
  .brightener .product {
    max-width: 130%;
    margin: 0 0 30px 0;
    /* ----------- iPhone 6 ----------- */
    /* Landscape */
    /* ----------- iPhone 6+ ----------- */
    /* Landscape */
    /* ----------- iPad mini ----------- */
    /* Portrait */
    /* ----------- iPad mini ----------- */
    /* Landscape */ }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      .brightener .product {
        max-width: 100%; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
      .brightener .product {
        max-width: 100%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      .brightener .product {
        max-width: 100%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .brightener .product {
        max-width: 100%; } }
  .brightener .product-tag {
    font-family: HelveticaNeueLTStd-ThIt;
    font-size: 16px;
    float: left;
    margin-top: 127px;
    vertical-align: bottom;
    color: #979797;
    /* ----------- iPad mini ----------- */
    /* Portrait */
    /* ----------- iPad mini ----------- */
    /* Landscape */
    /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
    @media (min-width: 480px) and (max-width: 767px) {
      .brightener .product-tag {
        margin-top: 30px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      .brightener .product-tag {
        margin-top: 5px;
        font-size: 20px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .brightener .product-tag {
        margin-top: 15px;
        font-size: 20px; } }
    @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
      .brightener .product-tag {
        font-size: 20px;
        margin-top: 0; } }
  .brightener .description {
    font-family: HelveticaNeueLTStd-Lt;
    font-weight: 100;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    padding: 30px 0 0 0;
    float: left;
    color: #979797;
    border-top: 1px solid #979797;
    /* ----------- iPad mini ----------- */
    /* Portrait */
    /* ----------- iPad mini ----------- */
    /* Landscape */ }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      .brightener .description {
        font-size: 14px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .brightener .description {
        font-size: 14px; } }
  .brightener .product-link {
    color: #979797 !important;
    /* ----------- iPhone 6 ----------- */
    /* Landscape */
    /* ----------- iPhone 6+ ----------- */
    /* Landscape */
    /* ----------- iPad mini ----------- */
    /* Portrait */
    /* ----------- iPad mini ----------- */
    /* Landscape */
    /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      .brightener .product-link {
        margin: 20px; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
      .brightener .product-link {
        margin: 30px;
        padding-top: 0; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      .brightener .product-link {
        margin: 30px;
        padding-top: 50px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .brightener .product-link {
        margin: 40px;
        padding-top: 60px; } }
    @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
      .brightener .product-link {
        padding: 50px; } }
    .brightener .product-link a {
      text-decoration: none;
      color: #979797 !important; }
      .brightener .product-link a:link {
        text-decoration: none;
        color: #979797 !important; }
      .brightener .product-link a:hover {
        color: #A47872; }
      .brightener .product-link a:visited {
        color: #C59B96; }

.HelveticaNeueLTStd-Lt {
  font-family: HelveticaNeueLTStd-Lt;
  font-weight: 100;
  font-style: normal; }

.HelveticaNeueLTStd-ThIt {
  font-family: HelveticaNeueLTStd-ThIt;
  font-weight: 100;
  font-style: normal; }

html,
body {
  font-size: 14px;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000; }

.container {
  max-width: 950px;
  height: auto;
  margin: 20px auto; }

.gradient-container {
  height: inherit;
  background-image: linear-gradient(-180deg, #C59B96 0%, #FFFFFF 100%);
  /* ----------- Non-Retina laptop/desktop Screens ----------- */
  /* ----------- Retina Screens ----------- */ }
  @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .gradient-container {
      height: 700px;
      background-image: linear-gradient(-180deg, #C59B96 0%, #FFFFFF 100%); } }
  @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .gradient-container {
      background-image: linear-gradient(-180deg, #C59B96 0%, #FFFFFF 100%);
      height: inherit; } }

.swiper-container {
  width: 100%;
  height: 90%;
  position: absolute;
  z-index: 10;
  /* ----------- iPad mini ----------- */
  /* Portrait */
  /* ----------- iPad mini ----------- */
  /* Landscape */
  /* ----------- Non-Retina laptop/desktop Screens ----------- */
  /* ----------- Retina Screens ----------- */ }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .swiper-container {
      height: 92%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .swiper-container {
      height: 87%; } }
  @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .swiper-container {
      height: auto;
      top: 0; } }
  @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2), screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .swiper-container {
      height: 86%;
      top: 0; } }
  .swiper-container .angle_arrow_left {
    height: 70px;
    width: 70px;
    background-color: none;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-left: 15px;
    position: absolute;
    background-image: none; }
  .swiper-container .angle_arrow_right {
    height: 70px;
    width: 70px;
    background-color: none;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-right: 15px;
    position: absolute;
    background-image: none; }
  .swiper-container .arrows {
    top: 80% !important;
    /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
    @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
      .swiper-container .arrows {
        top: 50% !important; } }

.swiper-slide {
  font-size: 18px;
  box-sizing: border-box;
  padding: 40px 60px;
  color: #fff;
  position: relative; }
  .swiper-slide .true-you {
    position: absolute;
    top: 37%;
    left: 0%;
    /* ----------- iPhone 6 ----------- */
    /* Landscape */
    /* ----------- iPhone 6+ ----------- */
    /* Landscape */
    /* ----------- iPad mini ----------- */
    /* Portrait */
    /* ----------- iPad mini ----------- */
    /* Landscape */
    /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      .swiper-slide .true-you {
        max-width: 75%;
        left: 12% !important;
        top: 5%; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
      .swiper-slide .true-you {
        max-width: 75%;
        left: 12% !important;
        top: 5%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      .swiper-slide .true-you {
        max-width: 98%;
        left: 1% !important;
        top: 20%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .swiper-slide .true-you {
        max-width: 80%;
        left: 12% !important;
        top: 12%; } }
    @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
      .swiper-slide .true-you {
        top: 37%;
        left: 20%;
        max-width: 60%; } }

.slide1 {
  background-image: url("../img/jouve_home_slider.jpg");
  background-size: 251%;
  background-position: -290px;
  /* ----------- iPhone 6 ----------- */
  /* Landscape */
  /* ----------- iPhone 6+ ----------- */
  /* Landscape */
  /* ----------- iPad mini ----------- */
  /* Portrait */
  /* ----------- iPad mini ----------- */
  /* Landscape */
  /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .slide1 {
      background-image: url("../img/jouve_home_slider.jpg");
      background-size: 100%;
      background-position: 0; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .slide1 {
      background-image: url("../img/jouve_home_slider.jpg");
      background-size: 100%;
      background-position: 0; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .slide1 {
      background-size: 201%;
      background-position: -400px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .slide1 {
      background-size: 145%;
      background-position: -262px; } }
  @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .slide1 {
      background-size: 100%;
      background-position: 0; } }

.slide2 {
  background-image: url("../img/slider-background.png");
  background-size: 115%;
  /* ----------- iPhone 6 ----------- */
  /* Landscape */
  /* ----------- iPhone 6+ ----------- */
  /* Landscape */
  /* ----------- iPad mini ----------- */
  /* Portrait */
  /* ----------- iPad mini ----------- */
  /* Landscape */
  /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .slide2 {
      background-image: url("../img/jouve_home_slider.jpg");
      background-size: 100%;
      background-position: 0; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .slide2 {
      background-image: url("../img/jouve_home_slider.jpg");
      background-size: 100%;
      background-position: 0; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .slide2 {
      background-size: 115%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .slide2 {
      background-image: url("../img/jouve_home_slider.jpg");
      background-size: 145%;
      background-position: -262px; } }
  @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .slide2 {
      background-size: 100%;
      background-image: url("../img/jouve_home_slider.jpg");
      background-position: 0; } }

.clear:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.big-slider {
  position: relative;
  width: 100%;
  height: 105%;
  margin: 30px auto 0 auto;
  text-align: center;
  color: #979797;
  background: #FCF4F3;
  /* ----------- iPhone 6 ----------- */
  /* Landscape */
  /* ----------- iPhone 6+ ----------- */
  /* Landscape */
  /* ----------- iPad mini ----------- */
  /* Portrait */
  /* ----------- iPad mini ----------- */
  /* Landscape */ }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .big-slider {
      height: 100%; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    .big-slider {
      height: 100%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .big-slider {
      height: 50%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .big-slider {
      height: 70%; } }
  .big-slider .before-title {
    padding: 15px;
    color: #979797;
    /* ----------- iPhone 6 ----------- */
    /* Landscape */
    /* ----------- iPhone 6+ ----------- */
    /* Landscape */
    /* ----------- iPad mini ----------- */
    /* Portrait */
    /* ----------- iPad mini ----------- */
    /* Landscape */ }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      .big-slider .before-title {
        font-size: 18px; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
      .big-slider .before-title {
        font-size: 18px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      .big-slider .before-title {
        font-size: 28px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .big-slider .before-title {
        font-size: 28px; } }
  .big-slider .before-after {
    position: absolute;
    top: 52%;
    left: 50%;
    width: 80%;
    height: 88%;
    padding: 10px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: white;
    background-color: #FCF4F3;
    /* ----------- iPhone 6 ----------- */
    /* Landscape */
    /* ----------- iPhone 6+ ----------- */
    /* Landscape */
    /* ----------- iPad mini ----------- */
    /* Portrait */
    /* ----------- iPad mini ----------- */
    /* Landscape */ }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      .big-slider .before-after {
        height: 82%; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
      .big-slider .before-after {
        height: 82%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      .big-slider .before-after {
        height: 60%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .big-slider .before-after {
        height: 80%; } }
    .big-slider .before-after .swiper-wrapper .swiper-slide {
      padding: 0 !important;
      position: relative; }
      .big-slider .before-after .swiper-wrapper .swiper-slide img {
        padding: 0 !important; }
      .big-slider .before-after .swiper-wrapper .swiper-slide .picholder:hover .overlay {
        opacity: 1; }
      .big-slider .before-after .swiper-wrapper .swiper-slide .picholder:hover .fancypics {
        opacity: 0.7; }
      .big-slider .before-after .swiper-wrapper .swiper-slide .picholder {
        width: 100%;
        position: relative;
        height: 100%; }
      .big-slider .before-after .swiper-wrapper .swiper-slide .overlay {
        bottom: 30;
        left: 0;
        top: 0;
        right: 0;
        height: 101%;
        width: 100%;
        margin: auto;
        position: absolute;
        background: rgba(196, 154, 149, 0.8);
        opacity: 0;
        /* ----------- iPhone 6 ----------- */
        /* Landscape */
        /* ----------- iPhone 6+ ----------- */
        /* Landscape */
        /* ----------- iPad mini ----------- */
        /* Portrait */
        /* ----------- iPad mini ----------- */
        /* Landscape */
        /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .overlay {
            width: 100%;
            height: 91%; } }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .overlay {
            width: 100%;
            height: 91%; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .overlay {
            width: 100%;
            height: 105%; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .overlay {
            width: 100%;
            height: 98%;
            padding: 30px; } }
        @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .overlay {
            width: 100%;
            height: 98%;
            padding: 30px; } }
      .big-slider .before-after .swiper-wrapper .swiper-slide .text_title {
        color: white;
        padding-top: 50%;
        /* ----------- iPhone 6 ----------- */
        /* Landscape */
        /* ----------- iPhone 6+ ----------- */
        /* Landscape */
        /* ----------- iPad mini ----------- */
        /* Portrait */
        /* ----------- iPad mini ----------- */
        /* Landscape */ }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .text_title {
            padding-top: 8%;
            padding-bottom: 0; } }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .text_title {
            padding-top: 8%;
            padding-bottom: 0; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .text_title {
            padding-top: 8%;
            padding-bottom: 0; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .text_title {
            padding-top: 8%;
            padding-bottom: 0;
            font-size: 36px; } }
      .big-slider .before-after .swiper-wrapper .swiper-slide .text_box {
        color: white;
        line-height: 20px;
        padding: 10px;
        padding-bottom: 50%;
        text-align: center;
        /* ----------- iPhone 6 ----------- */
        /* Landscape */
        /* ----------- iPhone 6+ ----------- */
        /* Landscape */
        /* ----------- iPad mini ----------- */
        /* Portrait */
        /* ----------- iPad mini ----------- */
        /* Landscape */ }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .text_box {
            font-size: 14px;
            padding-bottom: 0; } }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .text_box {
            font-size: 14px;
            padding-bottom: 0; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .text_box {
            font-size: 14px; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .text_box {
            font-size: 14px; } }
      .big-slider .before-after .swiper-wrapper .swiper-slide .fancypics {
        width: 100%;
        /* ----------- iPhone 6 ----------- */
        /* Landscape */
        /* ----------- iPhone 6+ ----------- */
        /* Landscape */
        /* ----------- iPad mini ----------- */
        /* Portrait */
        /* ----------- iPad mini ----------- */
        /* Landscape */
        /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .fancypics {
            width: 50%; } }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .fancypics {
            width: 50%; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .fancypics {
            width: 50%; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .fancypics {
            width: 50%; } }
        @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
          .big-slider .before-after .swiper-wrapper .swiper-slide .fancypics {
            width: 50%; } }
  .big-slider .before_arrow_left {
    height: 40px;
    width: 40px;
    background-color: none;
    border-top: 2px solid #C59B96;
    border-left: 2px solid #C59B96;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-left: 15px;
    position: absolute;
    background-image: none; }
  .big-slider .before_arrow_right {
    height: 40px;
    width: 40px;
    background-color: none;
    border-top: 2px solid #C59B96;
    border-right: 2px solid #C59B96;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-right: 15px;
    position: absolute;
    background-image: none; }

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99;
  background-color: #777777;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.5s ease-in-out; }

.scroll-top-wrapper:hover {
  background-color: #888888; }

.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0; }

.scroll-top-wrapper i.fa {
  line-height: inherit; }

footer {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-180deg, #A47972 4%, #EFCBC5 100%);
  /* ----------- iPhone 6 ----------- */
  /* Landscape */
  /* ----------- iPad mini ----------- */
  /* Portrait */
  /* ----------- iPad mini ----------- */
  /* Landscape */
  /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    footer {
      height: 100%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    footer {
      height: 40%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    footer {
      height: 80%; } }
  @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    footer {
      height: 50%; } }
  @media screen and (min-device-width: 1025px) {
    footer {
      height: 50%; } }
  footer #foot-menu ul {
    margin: 40px 0;
    list-style: none;
    font-family: HelveticaNeueLTStd-Lt;
    color: #fff;
    font-weight: 100;
    /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
    @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
      footer #foot-menu ul {
        margin: 40px 25px; } }
    @media screen and (min-device-width: 1025px) {
      footer #foot-menu ul {
        margin: 40px 25px; } }
    footer #foot-menu ul li a {
      text-decoration: none;
      color: #fff !important; }
      footer #foot-menu ul li a:link {
        text-decoration: none;
        color: #fff !important; }
      footer #foot-menu ul li a:hover {
        color: #A47872; }
      footer #foot-menu ul li a:visited {
        color: #C59B96; }
  footer #social-buttons {
    /* ----------- iPad mini ----------- */
    /* Portrait */
    /* ----------- iPad mini ----------- */
    /* Landscape */
    /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
    @media (min-width: 480px) and (max-width: 767px) {
      footer #social-buttons {
        margin: 40px 0; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      footer #social-buttons {
        margin: 40px 0; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      footer #social-buttons {
        margin: 40px 0; } }
    @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
      footer #social-buttons {
        margin: 40px 0 20px 0; } }
    @media screen and (min-device-width: 1025px) {
      footer #social-buttons {
        margin: 40px 0 20px 0; } }
    footer #social-buttons ul {
      z-index: 10;
      display: inline;
      margin: 40px 0;
      list-style: none; }
      footer #social-buttons ul li {
        display: inline;
        margin: 0 12px 0 0; }
        footer #social-buttons ul li a img {
          max-width: 15%; }
  footer #foot-logo {
    float: none;
    /* ----------- iPad mini ----------- */
    /* Portrait */
    /* ----------- iPad mini ----------- */
    /* Landscape */
    /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
    @media (min-width: 480px) and (max-width: 767px) {
      footer #foot-logo {
        float: left;
        margin: 24px auto; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      footer #foot-logo {
        float: left;
        margin: 24px auto; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      footer #foot-logo {
        float: left;
        margin: 24px auto; } }
    @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
      footer #foot-logo {
        float: left;
        margin: 24px auto; } }
    @media screen and (min-device-width: 1025px) {
      footer #foot-logo {
        float: left;
        margin: 24px auto; } }
    footer #foot-logo img {
      margin: 50px auto;
      /* ----------- iPad mini ----------- */
      /* Portrait */
      /* ----------- iPad mini ----------- */
      /* Landscape */
      /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
      @media (min-width: 480px) and (max-width: 767px) {
        footer #foot-logo img {
          margin: auto; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
        footer #foot-logo img {
          margin: auto; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        footer #foot-logo img {
          margin: auto; } }
      @media screen and (min-device-width: 1025px) {
        footer #foot-logo img {
          margin: auto;
          max-width: 85%; } }
  footer #contact {
    /* ----------- iPad mini ----------- */
    /* Portrait */
    /* ----------- iPad mini ----------- */
    /* Landscape */ }
    @media (min-width: 480px) and (max-width: 767px) {
      footer #contact {
        float: left;
        font-family: HelveticaNeueLTStd-Lt;
        margin: 10px 0 0 0; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      footer #contact {
        float: left;
        margin: 10px 0 0 0; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      footer #contact {
        margin: 20px 87px 0px 0; } }
    @media screen and (min-device-width: 1025px) {
      footer #contact {
        margin: 20px 0 0 0; } }
    footer #contact h4 {
      margin: 30px 0 0 0;
      color: #fff;
      font-weight: 100; }
    footer #contact address {
      color: #fff;
      font-weight: 100; }

.before-after-grid {
  position: absolute;
  top: 52%;
  left: 50%;
  width: 80%;
  height: 88%;
  padding: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  background-color: #FCF4F3; }
  .before-after-grid h3 {
    color: #979797;
    font-family: HelveticaNeueLTStd-ThIt;
    text-align: center; }
  .before-after-grid .photo-grid {
    padding: 0 !important;
    position: relative; }
    .before-after-grid .photo-grid img {
      padding: 0 !important; }
    .before-after-grid .photo-grid .picholder:hover .overlay {
      opacity: 1; }
    .before-after-grid .photo-grid .picholder:hover .fancypics {
      opacity: 0.7; }
    .before-after-grid .photo-grid .picholder {
      position: relative; }
    .before-after-grid .photo-grid .overlay {
      /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
      @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
        .before-after-grid .photo-grid .overlay {
          bottom: 30;
          left: 0;
          top: 0;
          right: 0;
          height: 101%;
          width: 100%;
          margin: auto;
          position: absolute;
          background: rgba(196, 154, 149, 0.8); } }
    .before-after-grid .photo-grid .fancypics {
      /* ----------- Non-Retina laptop/desktop Screens ----------- */ }
      @media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
        .before-after-grid .photo-grid .fancypics {
          width: 49%; } }
